header {
  padding-top: 50px;

}
nav.navbar.navbar-default.navbar-fixed-top {
    background-color: black;
    border-color: black;
}
a.page-scroll.btn.btn-lg.btn-info {
    position: absolute;
    left: 41%;
}
.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('../img/fondo.jpg');
  background-size:cover;
}
button.btn.btn-primary.btn-lg {
    position: relative;
    left: 85%;
}
.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}
header .header-text {
    padding-top: 300px;
    padding-bottom: 200px;
    color: white;
}
header{
  text-align: center;
}
header .header-text .header-lead-in {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}

header .header-text .header-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}

section#aburrido {
    text-align: center;
}
.col-md-6.contact-form {
    padding-top: 10%;
}
section.clients img {
    margin: 50px auto;
    position: static;
}
.hack{
  background-color: #eee;
}
footer{
  background-color: #eee;
  padding: 25px 0;
  text-align: center;
}
.perfil {
    text-align: center;
    margin-bottom: 50px;
}

.perfil img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.img-circle {
    border-radius: 50%;
}

hr.divider {
    border-top: 4px dashed black;
}